@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* fonts */
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

    /* colors */
    --color-gray-light: oklch(87.2% 0.01 258.338);
    --color-gray-dark: oklch(27.8% 0.033 256.848);
    --color-gray-darker: oklch(20.8% 0.042 265.755);
}

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: oklch(27.8% 0.033 256.848); /* slate-100 */
        border-radius: 9999px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: oklch(27.8% 0.033 256.848); /* slate-400 */
        border-radius: 9999px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: oklch(27.8% 0.033 256.848); /* slate-500 */
    }

    .custom-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: oklch(87.2% 0.01 258.338) oklch(37.9% 0.146 265.522);
    }
}
